{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump"> 
                            {% for image in ProductImages %}
                                <div id="shop-details-{{forloop.counter}}" class="tab-pane {% if forloop.counter == 1%}active{% endif %} large-img-style">
                                    <img src="/media/{{ image.image }}" alt="">
                                    <span class="dec-price">-10%</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="shop-details-tab nav">
                            {% for image in ProductImages %}
                                <a class="shop-details-overly {% if forloop.counter == 1%}active{% endif %}" href="#shop-details-{{forloop.counter}}" data-toggle="tab">
                                    <img src="/media/{{ image.image }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>{{product.product_name}}</h2>
                    <div class="product-details-price">
                        <span>Ksh. {{product.product_price}} </span>
                        <span class="old">Ksh. {{product.old_price}}</span>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="pro-details-rating">
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o yellow"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span><a href="#">3 Reviews</a></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
                    <div class="pro-details-list">
                        {% for info in product.product_info  %}
                            <ul>
                                {% for key, value in info.items %}
                                    {% if forloop.counter < 2 %}
                                        <li>- {{value}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="pro-details-quality">
                        <div class="btn-group">
                            <button type="button" id="ReduceProductButton" style="box-shadow:none ;" class="btn  btn-secondary">-</button>
                            <button disabled id="NoItemsButton" value="1" class="btn">1</button>
                            <button type="button" id="IncreaseProductButton" style="box-shadow:none;" class="btn  btn-secondary">+</button>
                        </div>
                        <input type="text" value="{{product.product_id}}" id="product_id" hidden>
                        <div class="pro-details-cart btn-hover">
                            <button id="AddCartButton" type="button" class="text-light" style="background: transparent ;border:none;"><a>Add To Cart</a></button>
                            <script>
                                let reduce_product_btn = document.getElementById("ReduceProductButton")
                                let no_items_btn = document.getElementById("NoItemsButton")
                                let increase_product_btn = document.getElementById("IncreaseProductButton")
                                let add_cart_btn = document.getElementById("AddCartButton")

                                reduce_product_btn.addEventListener('click',function(){
                                    if(parseInt(no_items_btn.value)>1){
                                        no_items_btn.value = parseInt(no_items_btn.value)-1
                                        no_items_btn.innerHTML = no_items_btn.value
                                    }
                                })

                                increase_product_btn.addEventListener('click',function(){
                                    if(parseInt(no_items_btn.value) < 3){
                                        no_items_btn.value = parseInt(no_items_btn.value)+1
                                        no_items_btn.innerHTML = no_items_btn.value
                                    }
                                })

                                add_cart_btn.addEventListener('click',function(event){
                                let formData = new FormData();
                                formData.append('product_id','{{product.product_id}}');
                                formData.append('no_items',no_items_btn.value);
                                formData.append('csrfmiddlewaretoken','{{csrf_token}}');
                                    axios.post(
                                        "{% url 'AddCart' %}",
                                        formData,
                                    )
                                })
                            </script>
                        </div>
                        <div class="pro-details-wishlist">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <div class="pro-details-compare">
                            <a href="#"><i class="pe-7s-shuffle"></i></a>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>Categories :</span>
                        <ul>
                            <li><a href="#">Minimal,</a></li>
                            <li><a href="#">Furniture,</a></li>
                            <li><a href="#">Fashion</a></li>
                        </ul>
                    </div>
                    <div class="pro-details-meta">
                        <span>Tag :</span>
                        <ul>
                            <li><a href="#">Fashion, </a></li>
                            <li><a href="#">Furniture,</a></li>
                            <li><a href="#">Electronic</a></li>
                        </ul>
                    </div>
                    <div class="pro-details-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-toggle="tab" href="#des-details1">Additional information</a>
                <a class="active" data-toggle="tab" href="#des-details2">Description</a>
                <a data-toggle="tab" href="#des-details3">Reviews (2)</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                        <p>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo consequat. Duis aute irure dolor in reprehend in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt </p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <table class="table table-border">
                            <tbody>
                                {% for info in product.product_info  %}
                                <tr>
                                    {% for key, value in info.items %}
                                        <th><span class="text-capitalize">{{key}}</span></th><td>{{value}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="review-wrapper">
                                <div class="single-review">
                                    <div class="review-img">
                                        <img src="{% static 'img/testimonial/1.jpg' %}" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Suspendisse viverra ed viverra. Mauris ullarper euismod vehicula. Phasellus quam nisi, congue id nulla.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review child-review">
                                    <div class="review-img">
                                        <img src="{% static 'img/testimonial/2.jpg' %}" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>White Lewis</h4>
                                                </div>
                                                <div class="review-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Vestibulum ante ipsum primis aucibus orci luctustrices posuere cubilia Curae Sus pen disse viverra ed viverra. Mauris ullarper euismod vehicula. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="ratting-form-wrapper pl-50">
                                <h3>Add a Review</h3>
                                <div class="ratting-form">
                                    <form action="#">
                                        <div class="star-box">
                                            <span>Your rating:</span>
                                            <div class="ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-10">
                                                    <input placeholder="Email" type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <textarea name="Your Review" placeholder="Message"></textarea>
                                                    <input type="submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="related-product-area pb-95">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Related products</h2>
        </div>
        <div class="related-product-active owl-carousel">
        {% for product in related_products %}
            <div class="product-wrap">
                <div class="product-img">
                    <a href="{% url 'ProductDetails' product.product_id product.product_name %}">
                        {% for image in related_images reversed %}
                            {% if product.product_id == image.product_id%}
                                {% if image.index == 1 %}
                                    <img class="default-img" src="/media/{{ image.image }}" alt="">
                                {% elif image.index == 2 %}
                                    <img class="hover-img" src="/media/{{ image.image }}" alt="">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </a>
                    <span class="pink">-10%</span>
                    <div class="product-action">
                        <div class="pro-same-action pro-wishlist">
                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="pro-same-action pro-cart">
                            <a title="Add To Cart" href="#"><i class="pe-7s-cart"></i> Add to cart</a>
                        </div>
                        <div class="pro-same-action pro-quickview">
                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-content text-center">
                    <h3><a href="{% url 'ProductDetails' product.product_id product.product_name %}">{{product.product_name}}</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star-o yellow"></i>
                        <i class="fa fa-star-o yellow"></i>
                        <i class="fa fa-star-o yellow"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-price">
                        <span>Ksh. {{product.product_price}}</span>
                        <span class="old">Ksh. {{product.old_price}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

{% endblock %}