{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Login </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" href="">
                            <h4> login </h4>
                        </a>
                        <a href="{% url 'register' %}">
                            <h4> register </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    {% if data.error %}
                                        <div class="alert alert-danger">
                                            <strong>Error!</strong>
                                            {{data.error}}
                                        </div>
                                    {% elif data.success %}
                                    <div class="alert alert-success">
                                        <strong>Success!</strong>
                                        {{data.success}}
                                    </div>
                                    {% endif %}
                                    <form method="post">
                                        {% csrf_token %}
                                        {{form}}
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input id="showpass" autocomplete="off" class="cursor-pointer" onclick={setshowpass()} type="checkbox">
                                                <label>show password</label>
                                                <script>
                                                    function setshowpass(params) {
                                                        if(document.getElementById("id_password").getAttribute('type')=='password'){
                                                            document.getElementById("id_password").setAttribute('type','text')
                                                        }
                                                        else if(document.getElementById("id_password").getAttribute('type')=='text'){
                                                            document.getElementById("id_password").setAttribute('type','password')
                                                        }
                                                    }
                                                </script>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit"><span>Login</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}